langchain==0.2.2
langchain-community==0.2.3
unstructured==0.14.4 # Document loading
chromadb==0.5.0 # Vector storage
sentence-transformers==2.2.2 # For embeddings
huggingface-hub==0.20.3 # For HuggingFace models
torch==2.2.0 # Required for sentence-transformers
transformers==4.37.2 # Required for HuggingFace models

# install markdown depenendies with: `pip install "unstructured[md]"` after install the requirements file. Leave this line commented out.
